# *.node_modules
# *.env
# *.vscode
# *.idea
# *.DS_Store

# # Angular specific files
# *.log
# *.ts
# *.js
# *.map
# *.d.ts
# *.ngsummary.json
# *.ngfactory.ts
# *.ngstyle.ts
# *.ngsummary.ts
# *.ngfactory.js
# *.ngstyle.js
# *.ngsummary.js
# *.ngfactory.map
# *.ngstyle.map
# *.ngsummary.map
# *.ngfactory.d.ts
# *.ngstyle.d.ts
# *.ngsummary.d.ts
# *.ngfactory.ngsummary.json
# *.ngstyle.ngsummary.json
# *.ngsummary.ngsummary.json
# *.ngfactory.ngstyle.ts
# *.ngstyle.ngsummary.ts
# *.ngsummary.ngstyle.ts
# *.ngfactory.ngstyle.js
# *.ngstyle.ngsummary.js
# *.ngsummary.ngstyle.js
# *.ngfactory.ngstyle.map
# *.ngstyle.ngsummary.map
# *.ngsummary.ngstyle.map
# *.ngfactory.ngstyle.d.ts
# *.ngstyle.ngsummary.d.ts
# *.ngsummary.ngstyle.d.ts
# *.ngfactory.ngstyle.ngsummary.json
# *.ngstyle.ngsummary.ngsummary.json
# *.ngsummary.ngstyle.ngsummary.json

# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
*/dist
*/tmp
*/out-tsc
*/bazel-out

# Node
*/node_modules
