.landing-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  padding: 2rem;
  border: 2px solid black;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.logo-image {
  width: 100%;
  max-width: 400px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  a{
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #000;
    color: #222;
    padding: 8px 15px;
    border-radius: 3px;
    font-size: 14px;
  }
}

.landing-links {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}